<br>
<br>
<br>
<div style="margin-top:10px;">
    <a class="back-link" style="color:black;margin:20px;" routerLink="/provideschedule">
        <i class="fa fa-arrow-left"></i> Back
    </a>
</div>
<div class="alert error" style="width:480px;margin-left:550px;">
    <label class="close" title="close" for="alert1">
        
  </label>
    <p class="text">
        <i class='fas fa-exclamation-circle' style='font-size:15px'></i> Alert! Once you submit, you can't enter demand again   
    </p>
</div>
<form #demandForm="ngForm" (submit)="submitDemand()" style="margin-left:620px; margin-bottom: 60px;">
  <span style="margin-bottom: 10px;" *ngFor="let medicine of medicineDemand; index as i">  
    <table style="background-color: rgb(236, 236, 236); margin-bottom: 1px; border-radius: 5px;">
        <tr>
        <td style="width:150px"><span style="margin:10px;width:260px;">{{medicine.name}}</span></td>
        <td><input style="margin:10px; padding: 3px; border-radius: 3px; border-color: rgb(0, 255, 132);" (keyup)="errorDemand=''" #demand=ngModel name="demand" [(ngModel)]="medicineDemand[i].demandCount" type="number" required min="0" max="100"/></td>
    </tr>
    </table>
    <span style="color: red;" *ngIf="medicineDemand[i]?.demandCount>100">*Demand Should be less than 100</span> 
    <span style="color: red;" *ngIf="medicineDemand[i]?.demandCount<0">*Demand Can't be in negative</span>   
  </span>

  <input class="submitDemand"  [class.disabledSubmit]="errorDemand!='' || demandForm.invalid " [disabled]="errorDemand!='' || demandForm.invalid" type="submit" value="Submit"/>
</form>


<!--     
<span *ngIf="demandForm.controls['demand']?.errors?.['required']">Demand is Required</span>
<span *ngIf="demandForm.controls['demand']?.errors?.['min']">Demand Can't be in negative</span>
<span *ngIf="demandForm.controls['demand']?.errors?.['max']">Demand Can't be more than 100</span> -->
