<br><br><br><br>
<a routerLink="" style="margin-left:100px;color:black;cursor: pointer;;"> <i class="fa fa-arrow-left" style="font-size:20px" aria-hidden="true"></i> Back </a><br><br>

<div class="body stock-div">
  <section>
    <br>
    <h1>Medicine Stocks</h1>
    <br>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
              <th>Name</th>
              <th>Chemical Composition</th>
              <th>Target Ailment</th>
              <th>Number Of Tablets In Stock</th>
              
            </tr>
          </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody *ngFor="let item of medicinestocklist">
            <tr>
              <th>{{item.name}}</th>
              <td>{{item.chemicalComposition}}</td>
              <td>{{item.targetAilment}}</td>
              <td>{{item.numberOfTabletsInStock}}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </section>
  <br>
  <br>
  <nav aria-label="...">
    <ul class="pagination">
      <li (click)="changePage(i+1)" class="page-item page-li" *ngFor="let page of [].constructor(totalPages); index as i">
        <a class="page-link page-a" [class.currentPage]="(1+i)==currentPage" >{{i+1}}</a>
      </li>
    </ul>
  </nav>
</div>
