<div class="main-container">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 nav-box" style="background-color: #fefefe ">
            <div class="container" style="width:60%;margin-left:3%">
                <h2 style="color: white; border-bottom: solid">Title<span style="font-size: 18px; color: #e6e6e6">Subtitle<i class="fas fa-dragon dragon"></i></span></h2>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul style="justify-content:space-evenly" class="navbar-nav flex-grow-1">
                  
                </ul>
            </div>
        </nav>
    </header>

    <div class="container con-main">
        <main role="main" class="pb-3">
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #ebebeb">
    </footer>
</div>

