.nav-box{
    background-image: linear-gradient(to right bottom, #051937, #0f2241, #192b4a, #233554, #2c3f5e);
}

.footer {
    background-image: linear-gradient(to right bottom, #051937, #0f2241, #192b4a, #233554, #2c3f5e);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; 
  }

.fa-medkit{
    font-size: 23px;
}