<div class="main-container">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 nav-box" style="background-color: #0db8a4">
            <div class="container" style="width:60%;margin-left:3%">
                <h2 style="color: white; border-bottom: solid">Pharma <span style="font-size: 18px; color: #e6e6e6">MANAGEMENT SYSTEM <i class="fa fa-medkit"></i></span></h2>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul style="justify-content:space-evenly" class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #e6e6e6; font-weight: bold; font-size: 15px" routerLink="">
                                <i style="font-size:21px" class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <span *ngIf="local.getItem('token')==null; then not_loggedIn; else is_loggedIn"></span>
                        <ng-template #not_loggedIn>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #e6e6e6; font-weight: bold; font-size: 15px " routerLink="login">
                                    <i style="font-size:21px" class="fa fa-user"></i> Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #e6e6e6; font-weight: bold; font-size: 15px " routerLink="register">
                                    <i class='fas fa-external-link-alt' style='font-size:21px'></i> Register
                                </a>
                            </li>
                        </ng-template>
                        <ng-template #is_loggedIn>
                            <li class="nav-item">
                                <a class="nav-link" style="color: red; font-weight: bold; font-size: 15px " routerLink="logout">
                                    <i class='fas fa-reply-all' style='font-size:21px;color:red'></i> Logout
                                </a>
                            </li>
                        </ng-template>
                </ul>
            </div>
        </nav>
    </header>
    <div style="min-height: 400px;">
        <main role="main">
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer class="footer_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3 footer_col">
                <div >
                    <div >
                        <h1 style="color: white;">Pharma <span style="font-size: 25px; color: #e6e6e6">MANAGEMENT SYSTEM <i class="fa fa-medkit"></i></span></h1>
                    </div>
                </div>
              </div>
            <div class="col-md-6 col-lg-3 footer_col">
              <div class="footer_contact">
                <h4>
                  Contact Us
                </h4>
                <div class="contact_link_box">
                  <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                      ABC Nagar,Chennai-666666
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        +91 7865432189
                    </span>
                  </a>
                  <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        query@pharma.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-3 footer_col">
              <div class="footer_detail">
                <h4>
                  About
                </h4>
                <p>
                    Through cutting-edge research and development, we bring innovative medicines, vaccines, and healthcare products to patients in need. Our team of experts is committed to meeting the highest standards of quality and safety, ensuring that our products are effective.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto footer_col">
              <div class="footer_link_box">
                <h4>
                  Links
                </h4>
                <div class="footer_links">
                  <a class="active" href="index.html">
                    Home
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-info">
            <p>
              &copy; <span id="displayYear"></span> All Rights Reserved By
              <a href="#">Pharma Management System<br><br></a>
            </p>
          </div>  
        </div>
      </footer>
</div>


