<div class="main-container">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 nav-box" style="background-color: #fefefe ">
            Pharmacy Supply App
            <br/>
            <br/>
            <br/>
        </nav>
    </header>

    <div class="container con-main">
        <main role="main" class="pb-3">
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #ebebeb">
    </footer>
</div>


