<div>
    <a class="back-link" style="color:#ededed" routerLink="">
        <i class="fa fa-arrow-left"></i> Back
    </a>
</div>

<hr style="background-color: #ededed;" />
<div class="row">
    <div class="col-md-4">
        <form (submit)="Logout()">
            <h3 style="color:#ededed">Are you sure you want to log out?</h3>
            <div class="form-group">
                <input style="color:#ededed" type="submit" value="Logout" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<hr />