<div style="margin-top:80px;">
    <a class="back-link" style="color:black;margin:20px;" routerLink="">
        <i class="fa fa-arrow-left"></i> Back
    </a>
</div>

<hr style="background-color: #ededed;" />
<div class="row">
    <div class="col-md-4 " style="margin-left:550px;">
        <form (submit)="Logout()">
            <h3 style="color:black;margin-top:70px;">Are you sure you want to log out?</h3>
            <div class="form-group">
                <input style="color:#ededed;margin-left: 180px;;" type="submit" value="Logout" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<hr />