<div class='container'>
  <div class='window'>
    <div class='content'>
      <div class='welcome' style="color: black;">Hello There!</div>
      <div class='subtitle' style="color: black;"><b>No account?</b></div><br>
      <a routerLink="/register" style="color:black;" class="h4-rightBox text-center"><button class="button-33">SIGN UP!</button></a>
      <div class='input-fields'>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            
                <div class="text-danger text-center"  *ngIf="invalidCredentialMessage!=''">
                    {{invalidCredentialMessage}}
                </div>
                <div class="form-group">
                    <label for="email" class="control-label inputlabeldesign" style="color: black; " >Email:</label><br />
                <input id="email" class="inputdesign" type="email" formControlName="email"/>
                <div *ngIf="loginForm.controls['email'].invalid || loginForm.controls['email'].errors">
                    <div *ngIf="loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].touched">
                        <div style="color: red;">This field is required.</div>
                    </div>
                    <div *ngIf="loginForm.controls['email'].errors?.['email']">
                        <div style="color: red;">Email not valid</div>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label inputlabeldesign" style="color: black;" >Password:</label><br />
                <input id="password" class="inputdesign" type="password" formControlName="password"/>
                <div *ngIf="loginForm.controls['password'].invalid || loginForm.controls['password'].errors">
                    <div *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">
                        <div style="color: red;">This field is required.</div>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <input type="submit" [disabled]="!loginForm.valid" value="Login" style="background-color:rgb(13, 96, 129);color:white;width:140px;height:40px;margin-top:10px;border:none;" class="button-design" />
                </div>
            
            </form>

      </div>
      
      
    </div>
  </div>
</div>