<div style="margin-top: 40px;">
    <div
        style="background-image: url('https://cdn.create.vista.com/api/media/medium/349817956/stock-photo-stethoscope-clipboard-and-pills-closeup?token=');background-color: rgb(99, 136, 99);background-blend-mode: multiply;">
        <br>
        <div style="width:400px;height:400px;justify-content: center;margin-left:540px">

            <form class="ScheduleForm" [formGroup]="scheduleform" (ngSubmit)="schedule()">
                <div style="margin-left:100px;padding-top:100px;">
                    <label style="margin-left: -5x;color:white;font-size:22px;font-weight: 700; border-bottom: 4px solid rgb(233, 233, 233);">Schedule Start Date</label><br>
                    <input type="date" formControlName="scheduledate" [max]="maxDate"
                        style="width:210px;padding:8px;border-radius: 4px;outline: none;border: none; margin-top: 5px;">
                    <div style="color:white; margin-left: -20px;"
                        *ngIf="scheduleform.controls['scheduledate'].touched && scheduleform.controls['scheduledate'].invalid">
                        <small style="color: rgb(255, 73, 73); font-size: 17px; font-weight: bold; margin-left: -10px;"
                            *ngIf="scheduleform.controls['scheduledate'].errors?.['required']">*Date is required</small>
                        <small style="color: rgb(255, 73, 73); font-size: 17px; font-weight: bold;"
                            *ngIf="scheduleform.controls['scheduledate'].errors?.['invalidDate']">*Past date should not be entered</small>
                        <small style="color: rgb(255, 73, 73); font-size: 17px; font-weight: bold;"
                            *ngIf="scheduleform.controls['scheduledate'].errors?.['invalidDay'] && !scheduleform.controls['scheduledate'].errors?.['invalidDate']">*Sunday should not be entered</small>
                    </div>
                </div>
                <br>
                <input class="submitSchedule" [class.disabled]="scheduleform.invalid" 
                    type="submit" [disabled]="!scheduleform.valid" value="Schedule">
            </form>
        </div>

    </div>
    <div class="body" *ngIf="checkLength()">
        <section>
            <br>
            <h1>Scheduled Details</h1>
            <div class="radios" style="margin-left:0px;font-size: 20px;color:white;">
                <input style="margin-left: 10px;margin-right:2px;" class="radioFilter" [(ngModel)]="selectRadio"
                    name="radioFilter" type="radio" value="Supplied" />
                <label> Supplied</label>
                <input style="margin-left: 10px;margin-right:2px;" class="radioFilter" [(ngModel)]="selectRadio"
                    name="radioFilter" type="radio" value="Pending" />
                <label> Pending</label>
                <input style="margin-left: 10px;margin-right:2px;" checked class="radioFilter" [(ngModel)]="selectRadio"
                    name="radioFilter" type="radio" value="All" />
                <label> All</label>
            </div>
            <br>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody *ngFor="let item of listOfBookedDates | FilterByStatus: selectRadio">
                        <tr>
                            <td>{{item.startDate | date}}</td>
                            <td>{{item.endDate | date}}</td>
                            <td>
                                <span *ngIf="!item.completed">
                                    <p style="color:white">Pending</p>
                                </span>
                                <span *ngIf="item.completed && !item.supplied">
                                    <p>Not Supplied</p>
                                </span>
                                <span *ngIf="item.completed && item.supplied">
                                    <p>Supplied</p>
                                </span>
                            </td>

                            <td><button
                                    style="height:40px;background:white;width:200px;outline: none;border: none;color:black;"
                                    [routerLink]="['/schedules', item.startDate]">Go To Schedules</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <br>
        <br>
    </div>
    <br><br>
</div>