<div class="body">
    <br><br><br>
    <a routerLink="provideschedule" style="margin-left: 50px; color: rgb(255, 255, 255); cursor: pointer;"> <i class="fa fa-arrow-left" style="font-size: 17px; color: white;" aria-hidden="true"></i> Back</a><br><br>
    <div style="margin-left: 50px;">
        <br>
        <input class="inputFilter" [(ngModel)]="searchValue" placeholder="Search by pharmacy" />
    </div>
    <section>
        <br>
        <h1>Pharmacy Supply Details</h1>
        <br>
        <div class="tbl-header">
            <table cellPadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Pharmacy Name</th>
                        <th>Medicine Name</th>
                        <th>Supply Count</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">

                <tbody *ngFor="let schedule of supplyMedicines | FilterByPharmacy:searchValue">
                    <tr>
                        <td>{{schedule.pharmacyName}}</td>
                        <td>{{schedule.medicineName}}</td>
                        <td>{{schedule.supplyCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <br>
    <br>
    <div class="page-button">
        <nav aria-label="...">
            <ul class="pagination">
                <li (click)="changePage(i+1)" class="page-item page-li"
                    *ngFor="let page of [].constructor(totalPages); index as i">
                    <a class="page-link page-a" [class.currentPage]="(1+i)==currentPage">{{i+1}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>