<div>
    <input class="inputFilter" [(ngModel)]="searchValue" placeholder="Search by pharmacy" />
</div>
<table>
    <tr>
        <th>Pharmacy Name</th>
        <th>Medicine Name</th>
        <th>Supply Count</th>
    </tr>
    <tr *ngFor="let schedule of supplyMedicines | FilterByPharmacyLib:searchValue">
        <td>{{schedule.pharmacyName}}</td>
        <td>{{schedule.medicineName}}</td>
        <td>{{schedule.supplyCount}}</td>
    </tr>
</table>
<nav aria-label="...">
    <ul class="pagination">
      <li (click)="changePage(i+1)" class="page-item page-li" *ngFor="let page of [].constructor(totalPages); index as i">
        <a class="page-link page-a" [class.currentPage]="(1+i)==currentPage" >{{i+1}}</a>
      </li>
    </ul>
</nav>