<a routerLink="">Go Back</a>
{{startDate | date}}
<br/>

<h2>Schedule</h2>

<button *ngIf="currentDateSchedule?.completed && !currentDateSchedule?.supplied"  (click)="newPharmacySupply()">Supply</button>

<br/>

<span *ngIf="currentDateSchedule?.supplied" >
    Supplied!
    <button (click)="pharmacySupply()">View Supplied Details</button>
</span>
<div>
    <div>
        <input class="inputFilter" [(ngModel)]="searchValue" placeholder="Search by " />
    </div>
    <div class="radios">
        <input checked class="radioFilter" [(ngModel)]="selectRadio" name="radioFilter" type="radio" value="" /> 
        <label> Representative Name</label>
        <input class="radioFilter" [(ngModel)]="selectRadio" name="radioFilter" type="radio" value="Doctor" />
        <label> Doctor Name</label>
        <input class="radioFilter" [(ngModel)]="selectRadio" name="radioFilter" type="radio" value="Ailment" />
        <label> Treating Ailment</label>
    </div>
</div>
<table>
    <tr>
        <th>Representative Name</th>
        <th>Doctor Name</th>
        <th>Ailment</th>
        <th>Contact Number</th>
        <th>Date</th>
        <th>Slot</th>
    </tr>
    <tr *ngFor="let schedule of schedules | FilterByNames:searchValue:selectRadio">
        <td>{{schedule.representativeName}}</td>
        <td>{{schedule.doctorName}}</td>
        <td>{{schedule.treatingAilment}}</td>
        <td>{{schedule.doctorContactNumber}}</td>
        <td>{{schedule.date | date}}</td>
        <td>{{schedule.slot}}</td>
        <button (click)="OpenMedicineDemand(schedule)" *ngIf="!schedule.status && checkEligible(schedule.date)">Enter Demand</button>
        <td *ngIf="!schedule.status && checkEligible(schedule.date)==false">Pending</td>
        <td *ngIf="schedule.status">Demand Submitted</td>
    </tr>
</table>
